{% extends '/shared/layout.twig' %}

{% block title %}Comentarios{% endblock %}

{% block content %}
    <div class="main__container">
        <section class="statistics">
            <div class="statistics-box">
                <h3 class="statistics-box__big-number">0
                    <sup class="statistics-box__small-number statistics-box__small-number--color-positive">(0)</sup>
                </h3>
                <span class="statistics-box__sub-text">Publicados hoy</span>
            </div>
            <div class="statistics-box">
                <h3 class="statistics-box__big-number">0
                    <sup class="statistics-box__small-number statistics-box__small-number--color-positive">(0)</sup>
                </h3>
                <span class="statistics-box__sub-text">Publicados esta semana</span>
            </div>
            <div class="statistics-box">
                <h3 class="statistics-box__big-number">0
                    <sup class="statistics-box__small-number statistics-box__small-number--color-negative">(0)</sup>
                </h3>
                <span class="statistics-box__sub-text">Publicados este mes</span>
            </div>
        </section>
        <div class="layout__results">
            <div class="box">
                <div class="box__header">
                    <h3 class="box__title">Mostrando {{ comments.count() }} de {{ comments.total() }} resultados</h3>
                    <div class="box__action">
                        <a href="" class="button">
                            <span class="button__icon">{{ source('icons/search.svg') }}</span>
                            Busqueda avanzada
                        </a>
                    </div>
                </div>
                <div class="box__body">
                    <table class="datatable">
                        <thead class="datatable__header">
                            <tr class="datatable__row">
                                {% set headers = [
                                    { 'name': 'Usuario', 'sortable': false },
                                    { 'name': 'Post', 'sortable': false },
                                    { 'name': 'Texto', 'sortable': true, 'field': 'body' },
                                    { 'name': 'Reportes', 'sortable': false },
                                    { 'name': 'Editado', 'sortable': false },
                                    { 'name': 'Creado', 'sortable': true, 'field': 'created_at' }
                                ] %}
                                {% for header in headers %}
                                    {{ include('shared/datatable-header.twig', { 'header': header, 'url': 'comments' }) }}
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for comment in comments %}
                                <tr class="datatable__row">
                                    <td class="datatable__cell">
                                        <a class="datatable__link" href="{{ path_for('user', { 'id': comment.user.id }) }}">{{ comment.user.name }}</a>
                                    </td>
                                    <td class="datatable__cell">
                                        <a class="datatable__link" href="{{ path_for('post', { 'id': comment.post.id }) }}">{{ comment.post.title }}</a>
                                    </td>
                                    <td class="datatable__cell">
                                        <a class="datatable__link" href="{{ path_for('comment', { 'id': comment.id }) }}">{{ comment.body|truncate(220, true) }}</a>
                                    </td>
                                    <td class="datatable__cell">{{ comment.reports_count }}</td>
                                    <td class="datatable__cell">{% if comment.isEdited() %}Si{% else %}No{% endif %}</td>
                                    <td class="datatable__cell">{{ comment.created_at }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box__footer">
                    {{ include('shared/pagination.twig', { 'pagination': comments }, with_context = false) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
