{% extends '/shared/layout.twig' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="main__container">
        <section class="statistics">
            <div class="statistics-box">
                <h3 class="statistics-box__big-number">{{ postsTodayCount }}
                    <sup class="statistics-box__small-number statistics-box__small-number--color-positive">
                        ({{ postsYesterdayCount }})
                    </sup>
                </h3>
                <span class="statistics-box__sub-text">Entradas hoy y (ayer)</span>
            </div>
            <div class="statistics-box">
                <h3 class="statistics-box__big-number">{{ usersTodayCount }}
                    <sup class="statistics-box__small-number statistics-box__small-number--color-positive">
                        ({{ usersYesterdayCount }})
                    </sup>
                </h3>
                <span class="statistics-box__sub-text">Usuarios registrados hoy y (ayer)</span>
            </div>
            <div class="statistics-box">
                <h3 class="statistics-box__big-number">{{ commentsTodayCount }}
                    <sup class="statistics-box__small-number statistics-box__small-number--color-positive">
                        ({{ commentsYesterdayCount }})
                    </sup>
                </h3>
                <span class="statistics-box__sub-text">Comentarios hoy y (ayer)</span>
            </div>
        </section>
        <section class="dashboard-boxes">
            <div class="box">
                <div class="box__header">
                    <h3 class="box__title">Artículos pendientes</h3>
                    <div class="box__action">
                        <a class="button" href="{{ path_for('posts') }}">Ver todos</a>
                    </div>
                </div>
                <div class="box__content">
                    <ul class="simplelist">
                        {% for post in lastPendingPosts %}
                            <li class="simplelist__item">
                                <a href="{{ path_for('post', { 'id': post.id }) }}" class="simplelist__item-link">
                                    {{ post.title }}
                                </a>
                                <div class="simplelist__item-extra-info">
                                    <span class="tag">{{ post.category.name }}</span>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="box">
                <div class="box__header">
                    <h3 class="box__title">Ultimos usuarios registrados</h3>
                    <div class="box__action">
                        <a class="button" href="{{ path_for('users') }}">Ver todos</a>
                    </div>
                </div>
                <div class="box__content">
                    <ul class="simplelist">
                        {% for user in lastRegisteredUsers %}
                            <li class="simplelist__item simplelist__item--three-colums">
                                <span class="avatar">
                                    <img src="{{ user.avatar }}" alt="Avatar de {{ user.name }}">
                                </span>
                                <a href="" class="simplelist__item-link">
                                    {{ user.name }}
                                </a>
                                <div class="simplelist__item-extra-info">
                                    <span class="date">{{ user.created_at|time_diff }}</span>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="box">
                <div class="box__header">
                    <h3 class="box__title">Drafts</h3>
                    <div class="box__action">
                        <a class="button" href="{{ path_for('posts') }}">Ver todos</a>
                    </div>
                </div>
                <div class="box__content">
                    <ul class="simplelist">
                        {% for post in lastDraftPosts %}
                            <li class="simplelist__item">
                                <a href="{{ path_for('post', { 'id': post.id }) }}" class="simplelist__item-link">
                                    {{ post.title }}
                                </a>
                                <div class="simplelist__item-extra-info">
                                    <span class="tag">{{ post.category.name }}</span>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="box">
                <div class="box__header">
                    <h3 class="box__title">Ultimas noticias</h3>
                    <div class="box__action">
                        <a class="button" href="{{ path_for('posts') }}">Ver todos</a>
                    </div>
                </div>
                <div class="box__content">
                    <ul class="simplelist">
                        {% for post in lastPosts %}
                            <li class="simplelist__item">
                                <a href="{{ path_for('post', { 'id': post.id }) }}" class="simplelist__item-link">
                                    {{ post.title }}
                                </a>
                                <div class="simplelist__item-extra-info">
                                    <span class="tag">{{ post.category.name }}</span>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
        <section class="dashboard-comments">
            <div class="box">
                <div class="box__header">
                    <h3 class="box__title">Ultimos comentarios</h3>
                    <div class="box__action">
                        <a href="{{ path_for('comments') }}">Ver todos</a>
                    </div>
                </div>
                <div class="box__content">
                    <ul class="comments">
                        {% for comment in lastComments %}
                            {{ include('components/comment.twig', { 'comment': comment }, with_context = false) }}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
