{% extends '/shared/layout.twig' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="main__container">
        <section class="dashboard-statistics">
            <div class="statistics-box">
                <h3 class="statistics-box__big-number">{{ number_of_posts_today }}
                    <sup class="statistics-box__small-number statistics-box__small-number--color-positive">
                        ({{ number_of_posts_yesterday }})
                    </sup>
                </h3>
                <span class="statistics-box__sub-text">Entradas hoy y (ayer)</span>
            </div>
            <div class="statistics-box">
                <h3 class="statistics-box__big-number">{{ number_of_users_today }}
                    <sup class="statistics-box__small-number statistics-box__small-number--color-positive">
                        ({{ number_of_users_yesterday }})
                    </sup>
                </h3>
                <span class="statistics-box__sub-text">Usuarios registrados hoy y (ayer)</span>
            </div>
            <div class="statistics-box">
                <h3 class="statistics-box__big-number">{{ number_of_comments_today }}
                    <sup class="statistics-box__small-number statistics-box__small-number--color-positive">
                        ({{ number_of_comments_yesterday }})
                    </sup>
                </h3>
                <span class="statistics-box__sub-text">Comentarios hoy y (ayer)</span>
            </div>
        </section>
        <section class="dashboard-boxes">
            <div class="box">
                <div class="box__header">
                    <h3 class="box__title">Artículos pendientes</h3>
                    <div class="box__action">
                        <a class="button" href="/posts">Ver todos</a>
                    </div>
                </div>
                <div class="box__content">
                    <ul class="simplelist">
                        {% for pending_post in pending_posts %}
                            <li class="simplelist__item">
                                <a href="/posts/{{ pending_post.id }}" class="simplelist__item-link">
                                    {{ pending_post.title }}
                                </a>
                                <div class="simplelist__item-extra-info">
                                    <span class="tag">{{ pending_post.category.name }}</span>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="box">
                <div class="box__header">
                    <h3 class="box__title">Ultimos usuarios registrados</h3>
                    <div class="box__action">
                        <a class="button" href="/users">Ver todos</a>
                    </div>
                </div>
                <div class="box__content">
                    <ul class="simplelist">
                        {% for last_user in last_users %}
                            <li class="simplelist__item simplelist__item--three-colums">
                                <span class="avatar">
                                    <img src="{{ last_user.avatar }}" alt="Avatar de {{ last_user.name }}">
                                </span>
                                <a href="/posts/{{ last_user.id }}" class="simplelist__item-link">
                                    {{ last_user.name }}
                                </a>
                                <div class="simplelist__item-extra-info">
                                    <span class="date">{{ last_user.created_at|time_diff }}</span>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="box">
                <div class="box__header">
                    <h3 class="box__title">Drafts</h3>
                    <div class="box__action">
                        <a class="button" href="/posts">Ver todos</a>
                    </div>
                </div>
                <div class="box__content">
                    <ul class="simplelist">
                        {% for draft_post in draft_posts %}
                            <li class="simplelist__item">
                                <a href="/posts/{{ draft_post.id }}" class="simplelist__item-link">
                                    {{ draft_post.title }}
                                </a>
                                <div class="simplelist__item-extra-info">
                                    <span class="tag">{{ draft_post.category.name }}</span>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="box">
                <div class="box__header">
                    <h3 class="box__title">Ultimas noticias</h3>
                    <div class="box__action">
                        <a class="button" href="/posts">Ver todos</a>
                    </div>
                </div>
                <div class="box__content">
                    <ul class="simplelist">
                        {% for last_post in last_posts %}
                            <li class="simplelist__item">
                                <a href="/posts/{{ last_post.id }}" class="simplelist__item-link">
                                    {{ last_post.title }}
                                </a>
                                <div class="simplelist__item-extra-info">
                                    <span class="tag">{{ last_post.category.name }}</span>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
        <section class="dashboard-comments">
            <div class="box">
                <div class="box__header">
                    <h3 class="box__title">Ultimos comentarios</h3>
                    <div class="box__action">
                        <a href="/comments">Ver todos</a>
                    </div>
                </div>
                <div class="box__content">
                    <ul class="comments">
                        {% for comment in comments %}
                            {{ include('components/comment.twig', { 'comment': comment }, with_context = false) }}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
