{% extends '/shared/layout.twig' %}

{% block title %}Logs{% endblock %}

{% block content %}
    <div class="main__container">
        <div class="layout">
            <div class="filters-pannel">
                <div class="filters">
                    <h4 class="filters__title">
                        Filtrar por nivel
                        <svg class="filters__title-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path>
                        </svg>
                    </h4>
                    <ul class="filters__list">
                        {% for level in levelFilters %}
                            {% set isSelected = queryStringParams.level == level.slug %}
                            {% set parameter = isSelected ? null : level.slug %}
                            <li class="filter {% if isSelected %}filter--selected{% endif %}">
                                <a class="filter__name filter__name--uppercase" href="{{ path_for('logs', {}, queryStringParams|merge({'level' : parameter})) }}">{{ level.name }}</a>
                                <span class="filter__number">{{ level.count }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="layout__results">
                <div class="box">
                    <div class="box__header">
                        <h3 class="box__title">Mostrando {{ logs.count() }} de {{ logs.total() }} resultados</h3>
                        <div class="box__action">
                            <a href="" class="button">
                                <svg class="button__icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <circle cx="11" cy="11" r="8"></circle>
                                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                </svg>
                                Busqueda avanzada
                            </a>
                        </div>
                    </div>
                    <div class="box__body">
                        <table class="datatable">
                            <thead class="datatable__header">
                                <tr class="datatable__row">
                                    <td class="datatable__cell">
                                        <a class="datatable__link" href="">
                                            Nivel
                                            <svg class="datatable__sort-icon" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round" stroke-linejoin="round">
                                                <polyline points="6 9 12 15 18 9"></polyline>
                                            </svg>
                                        </a>
                                    </td>
                                    <td class="datatable__cell">
                                        <a class="datatable__link" href="">Usuario</a>
                                    </td>
                                    <td class="datatable__cell">
                                        <a class="datatable__link" href="">Mensaje</a>
                                    </td>
                                    <td class="datatable__cell">
                                        <a class="datatable__link" href="">Creada</a>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for log in logs %}
                                    <tr class="datatable__row">
                                        <td class="datatable__cell">
                                            <span class="label label--uppercase">{{ log.level }}</span>
                                        </td>
                                        <td class="datatable__cell">{{ log.user.name }}</td>
                                        <td class="datatable__cell">
                                            <a class="datatable__link" href="{{ path_for('logs', { 'id': log.id }) }}">{{ log.message }}</a>
                                        </td>
                                        <td class="datatable__cell">{{ log.created_at }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="box__footer">
                        {{ include('components/pagination.twig', { 'pagination': logs }, with_context = false) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
