{% extends '/shared/layout.twig' %}

{% block title %}Usuarios{% endblock %}

{% block content %}
    <div class="main__container">
        <div class="layout">
            <div class="filters-pannel">
                <div class="filters">
                    <h4 class="filters__title">
                        Filtrar por rol
                        <span class="filters__title-icon">{{ source('icons/users.svg') }}</span>
                    </h4>
                    <ul class="filters__list">
                        {% for role in roleFilters %}
                            {% set isSelected = queryStringParams.role == role.slug %}
                            {% set parameter = isSelected ? null : role.slug %}
                            <li class="filter {% if isSelected %}filter--selected{% endif %}">
                                <a class="filter__name" href="{{ path_for('users', {}, queryStringParams|merge({'role' : parameter})) }}">{{ role.name }}</a>
                                <span class="filter__number">{{ role.count }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <hr class="filters-pannel__separator">
                <div class="filters">
                    <h4 class="filters__title">
                        Filtrar por patreon
                        <span class="filters__title-icon">{{ source('icons/badge.svg') }}</span>
                    </h4>
                    <ul class="filters__list">
                        {% for patreon in patreonFilters %}
                            {% set isSelected = queryStringParams.patreon_level == patreon.slug %}
                            {% set parameter = isSelected ? null : patreon.slug %}
                            <li class="filter {% if isSelected %}filter--selected{% endif %}">
                                <a class="filter__name" href="{{ path_for('users', {}, queryStringParams|merge({'patreon_level' : parameter})) }}">{{ patreon.name }}</a>
                                <span class="filter__number">{{ patreon.count }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="layout__results">
                <div class="box">
                    <div class="box__header">
                        <h3 class="box__title">Mostrando {{ users.count() }} de {{ users.total() }} resultados</h3>
                        <div class="box__action">
                            <a href="" class="button">
                                <span class="button__icon">{{ source('icons/search.svg') }}</span>
                                Busqueda avanzada
                            </a>
                        </div>
                    </div>
                    <div class="box__body">
                        <table class="datatable">
                            <thead class="datatable__header">
                                <tr class="datatable__row">
                                    {% set headers = [
                                        { 'name': 'Nombre', 'sortable': true, 'field': 'name' },
                                        { 'name': 'Usuario', 'sortable': true, 'field': 'username' },
                                        { 'name': 'Email', 'sortable': true, 'field': 'email' },
                                        { 'name': 'Rol', 'sortable': true, 'field': 'role' },
                                        { 'name': 'Patreon', 'sortable': true, 'field': 'patreon_level' },
                                        { 'name': 'Alta', 'sortable': true, 'field': 'created_at' }
                                    ] %}
                                    {% for header in headers %}
                                        {{ include('shared/datatable-header.twig', { 'header': header, 'url': 'users' }) }}
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                    <tr class="datatable__row">
                                        <td class="datatable__cell">
                                            <a class="datatable__link" href="{{ path_for('user', { 'id': user.id }) }}">{{ user.name }}</a>
                                            {% if user.isBanned() %}<span class="label label--negative">Baneado</span>{% endif %}
                                        </td>
                                        <td class="datatable__cell">{{ user.username }}</td>
                                        <td class="datatable__cell">{{ user.email }}</td>
                                        <td class="datatable__cell">{{ user.getRoleName() }}</td>
                                        <td class="datatable__cell">{{ user.getPatreonLevelName() }}</td>
                                        <td class="datatable__cell">{{ user.created_at }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="box__footer">
                        {{ include('shared/pagination.twig', { 'pagination': users }, with_context = false) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
