<li class="comment {{ comment.isReported() ? 'comment--reported' : '' }}">
    {{ include('shared/avatar.twig', { 'image': comment.user.avatar, 'name': comment.user.name, 'isBig': true }, with_context = false) }}
    <div class="comment__container">
        <div class="comment__header">
            <div class="comment__identity">
                <div class="comment__realname">{{ comment.user.name }}</div>
                <div class="comment__username">@{{ comment.user.username }}</div>
            </div>
            <div class="date">{{ comment.created_at|time_diff }}</div>
        </div>
        <div class="comment__body">
            {{ comment.body|truncate(150) }}
        </div>
        <div class="comment__actions">
            <a class="button button--small" href="">Ver comentario</a>
        </div>
    </div>
</li>
