<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex, nofollow">
    <title>{% block title %}{% endblock %} — Anaitgames CMS</title>

    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/app.css" />
</head>
<body>
    <div class="content">
        {{ include('shared/sidebar.twig') }}
        <section class="main">
            <nav class="nav-bar">
                <div class="top-search">
                    <span class="top-search__icon">{{ source('icons/search.svg') }}</span>
                    <input type="text" class="top-search__field" placeholder="Buscar titular, usuario...">
                </div>
                <button class="nav-bar__logoff">
                    {{ source('icons/exit.svg') }}
                </button>
            </nav>
            {% block content %}{% endblock %}
        </section>
    </div>
</body>
</html>
