<nav class="side-menu">
    <div class="side-menu__logo">
        {{ source('icons/circle.svg') }}
    </div>
    <ul class="side-menu__items">
        <li class="side-menu__item {% if is_current_path('dashboard') %}side-menu__item--selected{% endif %}">
            <a href="{{ path_for('dashboard') }}" class="side-menu__link">
                {{ source('icons/graph.svg') }}
            </a>
        </li>
        <li class="side-menu__item">
            <a href="" class="side-menu__link">
                {{ source('icons/grid.svg') }}
            </a>
        </li>
        <li class="side-menu__item {% if is_current_path('posts') or is_current_path('post', {'id': '*'}) %}side-menu__item--selected{% endif %}">
            <a href="{{ path_for('posts') }}" class="side-menu__link">
                {{ source('icons/file.svg') }}
            </a>
        </li>
        <li class="side-menu__item {% if is_current_path('users') or is_current_path('user', {'id': '*'}) %}side-menu__item--selected{% endif %}">
            <a href="{{ path_for('users') }}" class="side-menu__link">
                {{ source('icons/users.svg') }}
            </a>
        </li>
        <li class="side-menu__item {% if is_current_path('comments') or is_current_path('comment', {'id': '*'}) %}side-menu__item--selected{% endif %}">
            <a href="{{ path_for('comments') }}" class="side-menu__link">
                {{ source('icons/comment.svg') }}
            </a>
        </li>
        <li class="side-menu__item">
            <a class="side-menu__link" href="">
                {{ source('icons/flag.svg') }}
            </a>
        </li>
        <li class="side-menu__item {% if is_current_path('logs') or is_current_path('logs', {'id': '*'}) %}side-menu__item--selected{% endif %}">
            <a href="{{ path_for('logs') }}" class="side-menu__link">
                {{ source('icons/database.svg') }}
            </a>
        </li>
    </ul>
</nav>
